@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Moriyama.AzureSearch.Umbraco.Application
@using Moriyama.AzureSearch.Umbraco.Application.Interfaces
@{
    Layout = "Master.cshtml";

    // This logic should be in a controller - just here in the package as an example of use.

    var azureSearchClient = AzureSearchContext.Instance.GetSearchClient();
    
    var term = Request["search"];

    ISearchResult result = null;
    if(!string.IsNullOrEmpty(term))
    {
        result = azureSearchClient.Term(term).Results();
    }
}
<div role="content">
    <section class="light blogarchive equalizer">
        <div class="container">
            <div class="row">
                
                <h1>Azure Search</h1>

                <form action="@(Model.Content.Url)AzureSearch" method="GET">
                    <input type="text" name="search" id="search" placeholder="Enter a search term" />
                    <input type="submit" value="Search" />
                </form>

                @if(!string.IsNullOrEmpty(term))
                {
                    <h2>You search for <b>@term</b></h2>

                    if(result != null) { 
                    <p>
                        <em>Your search returned @result.Count results</em>
                    </p>

                        <ul>
                        @foreach(var item in result.Content)
                        {
                            <li>
                                <a href="@item.Url">@item.Id @item.Name</a>
                            </li>
                        }
                        </ul>
                   }
                }
            </div>
        </div>
    </section>
</div>


	